/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
  background-image: var(--background-image);
  background-color: var(--background-color);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.header {
  position: relative;
  display: grid;
  inline-size: 100%;
  block-size: 100vh;
  min-block-size: 668px;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline-start: 10px;
  padding-inline-end: 10px;
}

.decorated-zone::before {
    content: "";
    position: absolute;
    top: 10px;
    right: 10px;
    inline-size: 25px;
    block-size: 25px;
    border-top: 1px solid var(--accent-color);
    border-right: 1px solid var(--accent-color);
}

.decorated-zone::after {
    content: "";
    position: absolute;
    bottom: 10px;
    left: 10px;
    inline-size: 25px;
    block-size: 25px;
    border-left: 1px solid var(--accent-color);
    border-bottom: 1px solid var(--accent-color);
}

.rec {
    position: absolute;
    right: 38px;
    top: 11px;
    font-family: var(--font-family);
    font-size: var(--font-size);
    font-weight: var(--font-weight-text);
    text-transform: uppercase;
    color: var(--accent-color);
}

.rec::after {
    content: "";
    position: absolute;
    top: 8px;
    right: -19px;
    inline-size: 9px;
    block-size: 9px;
    background-color: var(--accent-color);
    border-radius: 50%;
    box-shadow: 0px 0px 4px 3px var(--accent-color);
}

/* менюшка */
.header__theme-menu {
  justify-self: end;
  align-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 11.5px;
}

.header__theme-menu-item {
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-text);
  color: var(--accent-color);
  line-height: 18px;
}

.header__theme-menu-button {
  background-color: transparent;
  text-transform: lowercase;
  block-size: 26px;
  inline-size: 70px;
  border: none;
}

.header__theme-menu-button_active {
  border: 1px solid var(--accent-color);
}

.header__theme-menu-button:hover {
  border: 1px solid var(--accent-color-hover);
}

.header__theme-menu-button:focus {
  border-bottom: 1px solid var(--accent-color);
}

.header__title {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}

.title-decor {
  color: var(--color-title);
  text-shadow: 5px 5px var(--accent-color);
  font-family: var(--font-family), sans-serif;
  font-weight: var(--font-weight-title);
}

.header__text-content {
  background-color: var(--accent-color);
  justify-self: center;
  align-self: center;
}

.header__text {
  color: var(--background-color);
  font-family: var(--font-family);
  font-size: var(--font-size);
  font-weight: var(--font-weight-title);
  line-height: 23.4px;
}