/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --color-title: #DB00FF;
  --background-color: #000028;
  --background-image: url(../images/cover-image-dark.png);
  --accent-color: #FF0070;
  --subtitle-color: var(--accent-color);
  --shadow-subtitle-color: var(--background-color);
  --title-text-color: #000028;
  --text-color: #F1B2CE;
  --border-color: var(--accent-color);
  --font-size: 18px;
  --font-weight-text: 400;
  --font-weight-title: 700;
  --line-height: 23.4px;
  --font-family: 'IBM Plex Mono';
  --accent-color-hover: rgba(255, 0, 112, 0.4);
}